<h2>Posts</h2>

<ul>
	{{#each}}
		<li>
	    {{#link-to 'post' this}} {{title}} {{/link-to}}
			({{#link-to 'posts.edit' this.id}}Edit{{/link-to}} |
			<a {{action 'deletePost' this}}>Delete</a>)
		</li>
	{{/each}}
</ul>

{{#link-to 'posts.new'}} Create a new post {{/link-to}}

{{outlet}}
